$designwidth: 750;
@function px2rem($px) {
    @return $px / ($designwidth / 10) * 1rem;
}
@mixin fontSize($size) {
    @media screen and (-webkit-max-device-pixel-ratio: 1) {
        font-size: $size * 0.5px;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 1.1) {
        font-size: $size * 1px;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2.1) {
        font-size: $size * 1.5px;
    }
}
@mixin placeHolder($color) {
    input::-webkit-input-placeholder{
        color: $color;
    }
    input::-moz-placeholder{  //不知道为何火狐的placeholder的颜色是粉红色，怎么改都不行，希望有大牛路过帮忙指点
        color: $color;        
    }
    input:-ms-input-placeholder{  //由于我的IE刚好是IE9，支持不了placeholder，所以也测试不了(⊙﹏⊙)，有IE10以上的娃可以帮我试试
        color: $color;        
    }
}
